@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.nav-bar{
  height: 95px;
  background-color: rgb(184, 145, 246);
  display: flex;
  align-items: center;
}

.logo{
  background-image: url(/box1.png);
  height: 94px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.educampus{
  background-image: url(/box2.png);
  height: 94px;
  width: 140px;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  margin-left: 1300px;
  background-size: contain;
}

.main{
  text-align: center;
  justify-content: center;
}

.credentials{
  position: absolute;
  background-color: white;
  height: 350px;
  width: 600px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 10px 0px black;
  border-radius: 3px;
  border-radius: 3px;
}

.fa-solid {
  height: 100px;
  width: 100px;
  font-weight: 700;
}

.nav{
  height: 50px;
  background-color: rgb(184, 145, 246);
  border-radius: 3px;
  border-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.nav p {
  color: white;
  font-family: calibri;
  font-size: 1.55rem;
  margin-left: 10px;
 padding-top: 8px;
}
.credits{
  background-color: rgb(184, 145, 246);
  
}

.email{
  color: gray;
  position: absolute;
  top: 25%;
  left: 20px;
  font-size: larger;
}

.login_id{
  border: 0px solid white;
  border-bottom: 1px solid black; 
  width: 450px;
}